*{
    margin: 0px;
    padding: 0%;
    font-family: 'GB' !important;
    /* src: url("./assets/PKMN\ RBYGSC.ttf");*/
}

@font-face {
    font-family: GB;
    src:url("./assets/PKMN\ RBYGSC.ttf");
}

.card{
    margin: 5px;
    border: 2px solid white;
    background-color: black;
    color: white;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#pokemon-Page{
    margin: 5px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around
}

header{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.dex{
    width: 120px;
}

body{
    background-color: rgba(204,0,0,0.7);
}   

.buttons{
    display: flex;
    justify-content: center;
}

.buttons-detail{
    margin: 5px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
}

#pokedex-container{
    background-color:black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    background-color: #1f1f1f;
    color: white;
}